.footer {
    padding: 1%;
    background-color: #FF8C00;
    color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.footer-logo-web {
    color: black;
    display: flex;
    
}

.footer-column {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-bottom: 1%;
    gap: 5px;
}

.footer a {
    color: darkgreen;
    text-decoration: none;
    font-weight: normal;
    display: block;
}

.footer-column h4 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.footer-copyright {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    color: black;
}