html, body {
    background-color: #FFFFFF;
    color: black;
    height: 100%;
    width: 100%;
    margin: 2px;
}

.img {
    margin-right: 5px;
}

.header{
    padding: 1%;
    background-color: #FFD700;
    color:white;
}

.footer {
    padding: 1%;
    background-color: #FF8C00;
    color:black;
}

.center-text {
    text-align: center
}

.header-nav {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 3px;
}

.header-nav a {
    text-decoration: none;
    color: green;
    
}

.footer-nav {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}


.footer-nav a {
    text-decoration: none;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    gap: 3px;
}

.main-text {
    margin: 1%;
}