.header {
    background-color: orange; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color: black;
}   

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo .img {
    height: 20px;
    margin-right: 5px;
}

.header-title {
    text-decoration: none;
    color: black;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;

}

.header-button{
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 768px) {
    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        width: 150px;
        height: 100%;
        background-color: orange;
        border: 2px solid #e76712;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: 0 0 4px 4px rgba(0,0,0,0.25);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        padding: 20px;
        z-index: 1000;
        display: flex;
    }

    .header-nav.active {
        transform: translateX(0);
    }

    .header-nav a {
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
    }

    .header-button {
        display: block;
        margin-left: auto;
        width: 32px;
        height: 32px;
        font-size: 24px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: black;
        z-index: 1100;
    }
}

.style-logout{
    cursor: pointer;
    transition: color 0.3s ease;
}